@erkenningen:registry=http://hugo.site4u.nl:3012/
//hugo.site4u.nl:3012/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJkaGFydG9uZyJdLCJuYW1lIjoiZGhhcnRvbmciLCJncm91cHMiOlsiZGhhcnRvbmciLCIkYWxsIiwiJGF1dGhlbnRpY2F0ZWQiLCJAYWxsIiwiQGF1dGhlbnRpY2F0ZWQiLCJhbGwiLCJkaGFydG9uZyJdLCJpYXQiOjE1Nzk5NjExMTAsIm5iZiI6MTU3OTk2MTExMSwiZXhwIjoxNTg1MTQ1MTEwfQ.E0lV5_IxeOYUrtRRYTI8zuFXQshfQ29OLTNzGqZkSzU